@use './themes.scss';

@font-face {
	font-family: Inter;
	src: url("/fonts/Inter.woff2") format("woff2-variations");
	font-display: swap;
	font-weight: 1 999;
}

@font-face {
	font-family: Merriweather;
	src: url("/fonts/Merriweather.woff2") format("woff2-variations");
	font-display: swap;
	font-weight: 1 999;
}

:root {
	font-family: var(--font-family-text);
	--titlebar-height: 2.25rem;
}

* {
	user-select: none;
	box-sizing: border-box;
}

button, input {
	font-family: var(--font-family-text);
}

body {
	background: var(--color-background);
	// background: transparent;
	margin: 0;
	overflow: hidden;
	position: relative;
	color: var(--color-foreground);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	// hide scrollbar
	::-webkit-scrollbar {
		display: none;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-weight: 500;
	}
}


/* Themes */

:root {
	@include themes.light-theme;

	--font-family-text: Inter, ui-sans-serif, 'Segoe UI', sans-serif;
	--font-family-heading: Merriweather, ui-serif, 'Segoe UI', serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		@include themes.dark-theme;
	}
}
